@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
  background-color:black;
}

.card{
  border: 3px solid white;
  background-color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding-left: 10%;
  padding-right: 10%;
  margin: 10px;
  text-align: center;
  max-width:25%;
  display: inline-block;
}
.cardTitle{
  color:white;
  position: center;
}
.cardText{
  color:white;
  justify-content: center;
}
.navContainer{
  background-color: black;
  border: 3px solid rgb(244, 64, 64);
  justify-content: end;
}
.navContainer .Navbar .navElements li a{
  color:white;
  font-family: "Montserrat", sans-serif, Arial;  
  display: inline-block;
  font-weight: 600;
  font-size: 1.1em;
  margin-left: 10px;
  text-decoration: none;
  padding: 8px 18px;
  user-select: none;    
  animation: slide_top 2s ease forwards;
  animation-iteration-count: 1;
  animation-delay:calc(0.2s*var(--i));
  opacity:0;
}
.navContainer .Navbar .navElements li{
  list-style-type: none;
  
}
.navContainer .Navbar ul{
  position:relative;
  display:flex;
}
.navContainer{
  display: flex;
  justify-content: flex-end;
  width:75%;
  position: absolute;
  right:10px;
  top:10px;
  justify-content: space-evenly;
  z-index: 1000;
}
.webTitle{
  position:relative;
  color:rgb(255, 255, 255);
  display: inline-block;
  font-size:2em;
  text-decoration:none;
  font-weight: 800;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  animation: slide_right 2s ease forwards;
  animation-iteration-count: 1;
  animation-delay:0.2s;
  opacity:0;
  z-index: 2000;
}

.navElements li a.active, .navElements .Navbar li a:hover{
  color: black;
  background-color: white;
  border-radius: 15px;
}
@keyframes slide_top {
  0%{
    transform:translateY(-100);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
  
}
@keyframes slide_right {
  0%{
    transform: translateX(-100);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
  
}
.inputContainer{
  width:80px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  background-color: slategray;
  border-radius: 15px;
}
.inputContainer .searchBar{
  width: 100%;
  font-size: 0.75rem; /* 12px */
  background-color: transparent;
  padding-top: 11px;
  padding-bottom: 11px;
  outline: none;
}
.inputContainer .closeButton{
  font-size: 1.25rem; 
  color: #64748b; 
  cursor: pointer;
  margin-right: 0.75rem; 
}
.inputContainer .closeButton :hover{
  color:black;
}
.inputContainer .magnGlass {
  color: #94a3b8; /* Slate 400 */
    cursor: pointer;

}
.inputContainer .magnGlass :hover {
  color:black;
}
.lookUpContainer{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem; /* 24px */
  padding-right: 1.5rem; /* 24px */
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
  box-shadow: 0 1px 

}
.lookUpTitle{
  font-size: 1.25rem; /* 20px */
  font-weight: 500; /* Medium */
  color: black;
  padding-top: 0.5rem; /* 8px */
  padding-bottom:0.5rem;

}
footer{
  background-color: #333;
  color: #fff;
}
.AboutUs h1, .AboutUs p{
  color:white;
}